/* Variables and mixins declared here will be available in all other SCSS files */
$font-mono: 'Share Tech Mono', monospace;

$column-width: 42rem;
$column-margin-top: 4rem;

$radius-0: 50%;
$radius-1: 0.5rem;
$radius-2: 1rem;
$radius-3: 2rem;
$radius-4: 5rem;
$radius-5: 10rem;
