/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use './variables.scss' as *;

:root {
	--font-family: $font-mono;
	font-family: $font-mono;
	color: $color-text;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: $color-bg-0;
}

a {
	color: $color-theme-1;
}

a:hover {
	text-decoration: underline;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
